{% extends "core/base.html" %}
{% block contenido %}

{%load static%}
<div class="contenido3">
    <div class="galeria">
       
                
                <a data-fancybox="gallery"  href="rescatados/Oso.jpg"><img src="{% static 'core/rescatados/Oso.jpg' %}"></a>
                <a data-fancybox="gallery" href="rescatados/Chocolate.jpg"><img src="{% static 'core/rescatados/Chocolate.jpg' %}"></a>
                <a data-fancybox="gallery"  href="rescatados/Bigotes.jpg"><img src="{% static 'core/rescatados/Bigotes.jpg' %}"></a>
              
                
    

               
                <a data-fancybox="gallery" href="rescatados/Wifi.jpg"><img src="{% static 'core/rescatados/Wifi.jpg' %}"></a>
                <a data-fancybox="gallery" href="rescatados/Pexel.jpg"><img src="{% static 'core/rescatados/Pexel.jpg' %}"></a>
                <a data-fancybox="gallery" href="rescatados/Luna.jpg"><img src="{% static 'core/rescatados/Luna.jpg' %}"></a>
                <a data-fancybox="gallery" href="rescatados/Maya.jpg"><img src="{% static 'core/rescatados/Maya.jpg' %}"></a>
          
    </div>     
        
</div>                  






{% endblock contenido %}